body{
	margin:0;padding:0;
	font-size:10pt;
}
#main_item{

}
.found_features img.source_image{
	display:none;
}
.item{
	width:300px;
	position: absolute;
	overflow:hidden;
	position: absolute;
	top:0;
	left:50%;
	margin-left:-150px;
}
img{
	width:300px;
}
img.sift-match-img{
	width:100px;
}
.sift-matches{
	position: absolute;
	width:100%;
	height:100%;
	top:0;left:0;
}

#controls{position:absolute;z-index: 10;opacity: 0;}
#controls:hover{opacity: 1;}


/*OR*/
.node {
	background:none;
	border-left: solid 1px black;
	font: 20px sans-serif;
	/*line-height: 12px;*/
	overflow: hidden;
	position: absolute;
	/*text-indent: 2px;*/
	padding:20px;
	box-sizing:border-box;
}
.node > div{transition:font-size ease 0.5s;}
.node img{
	max-width: 100%;
	display:inline-block;
	vertical-align: top;
}
.node .summary img{
	display:none !important;
}
.node h4{
	/*display: inline-block;*/
}

.node .date{
	font-size:9pt;
	text-align:right;
	font-style: italic;
	border-bottom:solid 1px #000;
	margin-bottom:10px;
}

.node .summary{
	font-size:10pt;
	height:200px;
	overflow: hidden;
	transition:height ease 2s;
}
.node .l{
	font-size:200%;
}
.node .l .summary{
	font-size:12pt;
}
.node .l img{
	display: block;
}

.node .m{
	font-size:120%;
}
.node .m .summary{
	font-size:11pt;
}
.node .m img{
	display: none;
}
.node .s{
	font-size:100%;
}
.node .s .summary{
	height:0px;
	overflow:hidden;
}
.node .s img{
	display: none;
}
.node .xs{
	font-size:80%;
}
.node .xs .summary{
	height:0px;
	overflow:hidden;
}
.node .xs img{
	display: none;
}

.node img.source_image{
	display:block !important;
}

.node:hover img.item_image{
	display:block;
	position: absolute;
	top:37px;
	left:0;
	width:100%;
	cursor:pointer;
}

h4, h2{
	margin:0;
	font-family: 'Bebas Neue';
}



.link {
  stroke: #000;
  stroke-opacity: .5;
  fill: none;
}